$grey: #60606e;
$light-grey: #d9d9d9;
$green: #7beec7;
$light: #fff;
$footer-color: #a9a9a9;

$font-color: $grey;
$font-color-2: $light-grey;
$main-font: 'Open Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;
$theme-color: $green;

$font-size-p: 14px;
$font-size-h: 30px;
$font-weight: 700;
$font-weight-1: 400;